.header {
  &Box {
    background-color: #b36050;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
  }

  &Title {
    color: #f1d3b9;
    text-align: center;
    font-size: 1.7rem;
    line-height: 160%;
  }
}
