.close {
  width: 24px;
  height: 24px;
  position: relative;
  padding: 15px;

  &Line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transform-origin: center;
  }

  &Line:first-child {
    transform: rotate(45deg);
  }

  &Line:last-child {
    transform: rotate(-45deg);
  }
}