.prettyBottle {
  background-color: #f6f4ec;
  padding: 39px 0 69px 0;

  &Box {
    margin: 0 auto;
  }

  &Title {
    color: #b45f4d;
    text-align: center;
    font-size: 2.3rem;
    line-height: 170%;
    text-transform: capitalize;
    padding-bottom: 44px;
  }
}

@media (max-width: 770px) {
  .prettyBottle {

    &Box {
      max-width: 300px;
    }

  }
}